<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img class="bd-placeholder-img con_blur" width="100%" height="100%" 
        src="https://images.pexels.com/photos/5966631/pexels-photo-5966631.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
        <div class="container ">
          <div class="carousel-caption ">
            <h1>Bienvenidos a Qumara Aymara</h1>
            <p><a class="btn btn-lg btn-primary" href="#nosotros" role="button">Te invitamos a conocernos</a></p>
            <br><br><br><br>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img con_blur" width="100%" height="100%" src="https://images.pexels.com/photos/175996/pexels-photo-175996.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/>
        <div class="container">
          <div class="carousel-caption">
            <h1>Ya tenemos seccion de catalogo</h1>
            <p>Actualmente lo estamos cargando con nuestros productos!</p>
            <p><a class="btn btn-lg btn-primary" href="#ubicanos" role="button">Encontranos</a></p>
            <br><br>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img con_blur" width="100%" height="100%" src="https://images.pexels.com/photos/209449/pexels-photo-209449.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/>
        <div class="container">
          <div class="carousel-caption">
            <h1>¿Que hacer con tu compra?.</h1>
            <p>Pronto tendras un listado de recetas en las que utilizar nuestros productos.</p>
            <p><a class="btn btn-lg btn-primary" href="#motivos" role="button">Nuestra motivacion a servirte</a></p>
            <br><br>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
</div>

