<hr class="featurette-divider" id="motivos">
<div class="row" >
  <div class="col-lg-12 text-center">
    <h1>Nuestra motivacion</h2>
    <h3>Te contamos como nos establecimos, y que buscamos lograr</h3>
    <br>
  </div>
</div>
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Nuestra historia. <span class="text-muted">Origen</span></h2>
    <p class="lead">
      Iniciamos nuestras actividades  con fondos propios,contamos  con un plan comercial con cadena de producción y de distribución propias, nos encontramos en la avenida <a href="https://goo.gl/maps/8yTh2FtPKTZvLwTa7">San Martín al 635 de la localidad de Las Palmas,Chaco,</a> en un cómodo local comercial y un consultorio para asesoramiento nutricional por <a href="#nosotros">su propios dueña Estefania </a>. 
    </p>
  </div>
  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://i.imgur.com/32Cj3eC.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Nuestro objetivo. <span class="text-muted">Que buscamos</span></h2>
    <p class="lead">
      Persiguimos un objetivo claro y sencillo: Brindar un servicio a la comunidad, instalando el concepto de vida saludable.
      Ofrecemos el servicio de atención nutricional y asesoramiento profesional,tanto en consultorio como desde  la venta de productos saludables y orgánicos.
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://i.imgur.com/1RbX7Qn.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Nuestra vision. <span class="text-muted">A futuro</span></h2>
    <p class="lead">Aspiramos a aportar a nuestra comunidad productos alimenticios de calidad y saludables y el asesoramiento profesional sobre alimentación
      Queremos contribuir con la adquisición de hábitos saludables de alimentación, indispensables para una vida sana en el presente y sobretodo en el futuro, porque somos 
      conscientes de que lo que consumimos o no hoy, repercutirá en nuestra vida mañana. </p>
  </div>
  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://i.imgur.com/LkzwgQt.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">
  </div>
</div>