<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="https://i.imgur.com/3ASXv5H.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Qumara Aymara
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalogo' %}">Catalogo</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'posts' %}">Blog</a>
        </li>
      </ul>
      {% include "base/redes.html" %}
    </div>

</nav>