{% include "base/index.html" %}
{% block content %}
<div class="container blog-full" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-8 blog-main" >
            <div class="blog-post">
                <h1 class="blog-post-title text-left">{{ post.titulo }}<small class="text-muted"> - {{ post.fecha_creacion }}</small></h1>
                
                <div class="mt-2">
                    {{ post.content|safe }}
                    {{ en_favoritos }}
                </div>
            </div>
        </div>
        
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb- text-center">
                {% if en_favoritos is True %}
                <a type="button" class="btn btn-danger" href="{% url 'tratar_favorito' post.id %}">😢  Eliminar de favoritos</a>
                {% else %}
                <a type="button" class="btn btn-success" href="{% url 'tratar_favorito' post.id %}">⭐  Añadir a favoritos</a>
                {% endif %}
            </div>

            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="font-italic">Resumen</h4>
              <p class="mb-0">{{ post.descripcion }}</p>
            </div>
      
            <div class="p-4">
              <h4 class="font-italic">Compralos</h4>
              <ol class="list-unstyled mb-0">
                    {% for ingrediente in post.ingredientes.all %}
                    <li><a href="{% url 'producto_detalle' pk=ingrediente.id %}">{{ ingrediente }}</a></li>
                    {% endfor %}                    
              </ol>
            </div>
        </aside>
    </div>
</div>
{% include "base/footer.html" %}
{% endblock %}