{% include "base/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" >
  <div class="row autenticacion">
    <div class="col-sm-10 text-center">
      <img class="mb-4" src="https://i.imgur.com/mQgOrW3.png" alt="logo q'umara aymara" style="width:15rem">      
    </div>
    <div class="col-sm-4 text-center">
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div >
          <input  class="btn btn-secondary" type="submit" name="signin" id="signin" value="Iniciar sesión"/>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}