{% include "base/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container login pt-5" >
  <div class="row abs-center">
    <div class="col-sm-6 text-center">
      <img class="mb-4" src="https://i.imgur.com/mQgOrW3.png" alt="logo q'umara aymara" style="width:16rem">      
      
    </div>
  </div>
  <div class="row abs-center">
    <div class="col-sm-4  mt-4">
      <h1 class="text-center">Iniciar sesión</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <input  class="btn btn-secondary" type="submit" name="signin" id="signin" value="Iniciar sesión"/>          
          <p class="mt-2">Si no tienes una cuenta, <a href="{% url 'registro' %}">registrate aquí</a>!</p>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}